---
const {platform, url, username} = Astro.props;
---
<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>

<a target="_blank" href={`https://${url}/${username}`}>{platform}</a>
